/*============================
=         الأساسيات          =
============================*/
:root {
  --background-light: linear-gradient(to bottom, #1e293b, #f1f5f9);
  --background-dark: linear-gradient(to bottom, #000, #333);
  --text-light: #f1f5f9;
  --text-dark: #ffffff;
  --input-border-light: rgb(241, 198, 41);
  --input-border-dark: rgb(255, 255, 255);
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  background: var(--background-light);
  background-size: cover;
  color: var(--text-light);
  direction: ltr;
}
body.ar {
  font-family: 'Cairo', sans-serif;
  direction: rtl;
  text-align: right;
  
}
/**/
body.ar * {
  direction: rtl;
  text-align: right;
}

body.ar .nav-links {
  display: flex;
  flex-direction: row-reverse; /* عكس ترتيب الروابط في النافبار */
}

body.ar .navbar .logo {
  margin-left: 0;
  margin-right: 20px; /* لضمان أن الشعار يظهر على اليمين */
}
body.ar .navbar {
  padding: 8px 50px; /* نفس المسافة في الوضع العربي */
}

body.ar .navbar-container {
  flex-direction: row-reverse; /* عكس ترتيب العناصر */
}
/**/
body.en {
  font-family: 'Poppins', sans-serif; /* الخط الافتراضي للغة الإنجليزية */
  direction: ltr; /* اتجاه النص من اليسار لليمين */
}
/* وضع الداكن */
body.dark-mode {
  background: var(--background-dark);
  color: var(--text-dark);
}

.app-background {
  min-height: 100vh;
  background: var(--background-light);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.app-background.dark-mode {
  background: var(--background-dark);
}
/*اللغة*/
.language-toggle {
  background: none;
  border: none;
  color: #fff; /* أو أي لون تريده */
  cursor: pointer;
  font-size: 1rem;
  margin-left: 1px; /* لتوفير مسافة بين الأزرار */
  transition: color 0.3s;
}

.language-toggle:hover {
  color: #ffcc00; /* لون عند التمرير */
}
/*============================
=       العُملات الطائرة      =
============================*/
.coin {
  position: fixed;
  width: 35px;
  height: 35px;
  background:  url('/coin.png') no-repeat center center;

  background-size: cover;
  pointer-events: none;
  z-index: 0;
  animation: floatCoin 6s linear infinite, fadeOut 4s forwards;
}

@keyframes floatCoin {
  0% { transform: translateY(0); }
  100% { transform: translateY(100vh); }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  80% { opacity: 0.5; }
  100% { opacity: 0; }
}

/*============================
=      حاويات المحتوى        =
============================*/
.main-container {
  padding: 60px;
  margin-top: 100px;
}

.container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  padding: 90px;
  width: 100%;
  box-sizing: border-box;
}

/*============================
=         نموذج الإدخال      =
============================*/
.form-container {
  position: relative;
  flex: 1;
  padding: 80px;
  background-color: #1e293b; /* يمكن تغيير هذا إلى متغير */
  color: var(--text-light);
  background-size: cover;
  opacity: 0.9;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 600px;
  max-height: 80vh;
  overflow-y: auto;
  transition: transform 0.3s ease, opacity 0.3s ease;  
  z-index: 2;
}

body.dark-mode .form-container {
  background-color: #444; /* لون الخلفية في الوضع الداكن */
}
.form-container:hover {
  transform: scale(1.02);
  opacity: 1;
}

.form-container::-webkit-scrollbar {
  display: none;
}

.form-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/*============================
=       شريط التنقل          =
============================*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* زيادة padding */
  background: linear-gradient(135deg, #051527, #1282fb);
  color: #fff;
  font-weight: bold;
  position: fixed;
  width: 100%;
  z-index: 1000;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background 0.3s, box-shadow 0.3s;
}


.navbar-container {
  width: 100%;
 /* max-width: 1700px; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body.dark-mode .navbar {
  background: rgba(4, 111, 137, 0.8); 
}
.navbar.scrolled {
  background: rgba(4, 111, 137, 0.8);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
}

.logo {
  height: 80px;
  margin-right: 20px;
  animation: logoAnimation 2s ease-in-out infinite;
  transition: transform 0.3s, opacity 0.3s;
}

.logo:hover {
  transform: scale(1.2) rotate(10deg);
  opacity: 0.9;
}

@keyframes logoAnimation {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.nav-links {
  display: flex; /* عرض الروابط في الوضع الطبيعي */
  align-items: center;
  gap: 20px; /* زيادة المسافة بين الروابط */
}
.nav-links.active {
  display: flex; /* نعرض القائمة عندما يكون الكلاس active */
  flex-direction: column;
  z-index: 1000;
}


.nav-link {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s, transform 0.3s;
  padding: 10px 15px; /* إضافة padding للروابط */
  border-radius: 5px; /* إضافة زوايا مدورة */
}
.nav-link:hover {
  background: rgba(255, 255, 255, 0.1); /* خلفية عند التمرير */
  color: #ffcc00; /* تغيير لون النص عند التمرير */
  transform: scale(1.05); /* تأثير تكبير عند التمرير */
}

.navbar img {
  transition: transform 0.3s;
}

.navbar img:hover {
  transform: scale(1.1);
}

.menu-icon {
  display: none; /* مخفي افتراضيًا */
  font-size: 1.5rem;
  cursor: pointer;
  color: white; /* تأكد من أن اللون مرئي */
}

.menu-toggle {
  display: block;
  font-size: 24px;
  background: none;
  border: none;
  color: white; /* تأكد من أن اللون مرئي */
  cursor: pointer;
  z-index: 1001; /* لضمان ظهوره */
}



.nav-links li {
  list-style: none;
  margin: 0 15px; /* مسافة بين الروابط */
  display: flex;
  align-items: center; /* محاذاة الأيقونات والنصوص */
}

.nav-links li svg {
  margin-right: 5px; /* مسافة بين الأيقونة والنص */
  font-size: 1.2rem; /* حجم الأيقونة */
}


/*============================
=         الترحيب            =
============================*/
.welcome-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 4px black;
  width: 100%;
  padding: 1%;
  z-index: 1;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.welcome-content {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 600px;
  max-height: 400px;
  background-color: #1e293b; 
  color: var(--text-light);
  background-size: cover;
  opacity: 0.8;
  padding: 70px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease, color 0.3s ease; 
}

/* وضع داكن */
body.dark-mode .welcome-content {
  background-color: #333; 
  color: var(--text-dark);
}

.welcome-content:hover {
  opacity: 1;
  transform: scale(1.02);
}

.welcome-message {
  text-align: center;
  padding: 90px;
  font-size: 40px;
  color: var(--text-light);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  margin-bottom: 2.5rem;
}

/*============================
=          النصوص المتساقطة  =
============================*/
.falling-word {
  display: inline-flex;
  opacity: 0;
  animation: slide-in 0.5s forwards cubic-bezier(0.6, 0.04, 0.98, 0.34);
  animation-delay: var(--delay);
  margin-right: 10px;
}

.bold-font {
  font-family: 'Nabla', cursive;
  font-size: 3rem;
  font-weight: normal;
  text-align: center;
}

@keyframes slide-in {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/*============================
=          النصوص والعناوين  =
============================*/
h1, h2, h3, h4, h5 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  color: #deb205;
  text-shadow: 1px 1px 3px rgba(248, 240, 1, 0.7);
  margin: 0;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
}

h1 { font-size: 3rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 2rem; }
h4 { font-size: 3rem; background-color: rgba(30, 41, 59, 0.6); color: #fcd34d; }
h5 { color: var(--text-light); }

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.9em;
  margin: 15px 0 0;
  margin-bottom: 50px;
  padding: 10px;
  color: var(--text-light);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

/*============================
=            النموذج          =
============================*/
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-group label {
  font-weight: bold;
  margin-bottom: 5px;
  color: rgb(241, 232, 232);
  text-shadow: 1px 1px 2px rgba(5, 1, 1, 0.7);
  font-size: 1.2em;
}

input, select {
  padding: 1rem;
  border: 1px solid var(--input-border-light);
  border-radius: 0.5rem;
  font-size: 1rem;
  width: 100%;
}

/*============================
=            الأزرار         =
============================*/
button {
  width: 100%;
  padding: 1rem;
  background: linear-gradient(90deg, #f59e0b, #facc15);
  color: black;
  text-shadow: 1px 1px 2px rgba(5, 1, 1, 0.7);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
  transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
}

button:hover {
  background: linear-gradient(90deg, #facc15, #f59e0b);
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.7);
  transform: scale(1.05);
  cursor: pointer;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button-group button {
  margin-left: 10px;
}

/*============================
=     عناصر إضافية           =
============================*/
.register-link {
  text-align: center;
  margin-top: 15px;
}

a {
  color: var(--input-border-light);
  text-shadow: 1px 1px 2px hwb(40 1% 19% / 0.916);
}

/* العمليات */
.operations-container {
  background: rgba(4, 111, 137, 0.9);
  border-radius: 10px;
  padding: 30px;
  margin: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: rgb(9, 0, 0);
  text-shadow: 1px 1px 2px rgba(5, 1, 1, 0.7);
}

.operations-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.operation-link,
.operation-button {
  display: block;
  margin: 15px 0;
  padding: 15px;
  background: rgb(241, 198, 41);
  color: rgba(0, 0, 0, 0.883);
  text-shadow: 1px 1px 2px rgba(5, 1, 1, 0.7);
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  transition: background 0.3s, transform 0.3s;
}

.operation-button:hover,
.operation-link:hover {
  background: linear-gradient(90deg, #facc15, #f59e0b);
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.7);
  transform: scale(1.05);
}

/*============================
=         تحسينات           =
============================*/
.input-wrapper {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #007bff;
}


.spinner {
  animation: spin 1s infinite linear;
  font-size: 24px;
  margin-right: 8px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*============================
=          الأخطاء          =
============================*/
.error {
  border: 2px solid red;
}

.error-message {
  color: red;
  margin-top: 5px;
  font-size: 1em;
}

.success-message {
  color: green;
  margin-bottom: 15px;
  font-weight: bold;
}

/*============================
=        Media Queries      =
============================*/
@media (max-width: 1024px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-links {
    display: none; /* إخفاء الروابط في الوضع الافتراضي */
    width: 100%;
    background-color: #222;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    padding: 20px;
    align-items: center;
    text-align: center;
    gap: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  .nav-link {
    margin: 5px 0;
    width: 100%;
    text-align: center;
    display: none; 
    
  }
  .menu-icon {
    display: block;
    margin-left: 200px; 
     
    }
  .nav-links.active {
    display: flex; /* عرض القائمة عند تفعيل الكلاس active */
    flex-direction: column;
    z-index: 1000;
  }
  

  .logo {
    margin-bottom: 10px;
  }
  .form-container {
    width: 90%;
    padding: 20px;
  }

}

@media (max-width: 320px) {
  .logo { height: 50px; }
  body { font-size: 0.875rem; }
  .menu-icon {
    display: block;
    margin-left:10px; 
   
    
  }
  .menu-toggle {
    display: block;
    right: 90px;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 1001;
  }
.nav-links {
  display: none; /* يتم إخفاء القائمة افتراضيًا */
  width: 100%;
  background-color: #222;
  position: absolute;
  top: 60px;
  left: 0;
  right: 30px;
  padding: 20px;
  align-items: center;
  text-align: center;
  gap: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* تظهر القائمة عند إضافة الكلاس 'active' */
.nav-links.active {
  display: flex; /* نعرض القائمة عندما يكون الكلاس active */
  flex-direction: column;
  z-index: 1000;
}

/* يمكن إضافة المزيد من الأنماط حسب الحاجة */
.nav-links.open {
  display: flex;
}


  .form-container { padding: 1.5rem; }
  .input-group label { font-size: 0.9em; }

  input, select { padding: 10px; font-size: 0.8em; }
  button, .get-started-button { padding: 10px; font-size: 0.9em; }
  

  p { font-size: 1em; }
  h1 { font-size: 2em; }
  h2 { font-size: 1.8em; }
  h3 { font-size: 1.6em; }
 
}